body{
    /* background-image: url("background.jpg"); */
    background-color: rgb(22, 56, 85) !important;
    /* background-repeat: no-repeat;
    background-size: cover; */
    background-attachment: fixed; 
}
footer{
  background-color:transparent;
  text-align: center;
  color: white;
  position: relative;
  top: 20vh;
}
.footer_img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  top: 2vh;
}
#particles-js{
  height: 200%;
  width: 100%;

}
.a{
  background-color: #081f35;
  width: 60vw;
  color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px #698399, 0 0 40px #576d80, 0 0 80px #407daf;
  position: relative;
  left: 20vw;
  top: 10vh;
  margin-top: 5vh;
  padding: 5%;
  text-align: center;
}
.img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
 
}
p{
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
}
.content{
  
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 480px) {
  .a{
    width: 90vw;
    position: relative;
    left: 3vh;
  }
}
