html {
    block-size: 100%;
    inline-size: 100%;
    text-align: center;
}

body {
    scroll-behavior: smooth;
    background-color: rgb(8, 39, 68);
    overflow-x: hidden;
}
#anim {
    padding: 1%;
    margin-left: 5rem;
}
#heading {
    letter-spacing: 5px;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    width: 100%;
    height: 0px;
    text-align: center;
    outline: none;
    color: rgb(155, 190, 223);
    text-shadow: 0 0 10px #8d939c, 0 0 40px #344553, 0 0 80px #50707a;
}
#head2 {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
   
}

.mainpage{
    
    padding: 4%;
        box-shadow: 0 0 10px #698399, 0 0 40px #576d80, 0 0 80px #407daf;
        transition-delay: 0.75s;
        height: 130vh;
        border-radius: 15px;
        background-color: rgb(14, 28, 49);
        align-items: center;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
   
  }
  .topnav {
    width: 100%;
    height: 70px;
    border-radius: 15px;
    background-color: rgb(14, 28, 49);
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    /*border: 2px solid white;*/
  }

.topnav a {
    float: right;
    display: block;
    color: rgb(155, 190, 223);
    text-shadow: 0 0 10px #8d939c, 0 0 40px #344553, 0 0 80px #50707a;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    height: 30px;
    text-align: end;
    text-decoration: none;
    font-size: 1.5rem;
  }
  #box1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(155, 190, 223);
    font-size: large;
    text-transform: uppercase;
    text-align: center;
}

#box1 a {
    text-decoration: none;
    color: rgb(7, 22, 39);
    background-color:rgb(155, 190, 223);
    padding: 1%;
    border-radius: 15px;
    padding-right: 10px;
}

#box1 a :hover {
   text-decoration: underline  
}

.about {
    padding: 3%;
    place-content: top;
    font-family: 'Courier New', Courier, monospace;
}
.d{
margin-left: 5%;
}
.topnav a:hover {
    background-color: rgb(155, 190, 223);
    color: black;
  }
  
.topnav a.active {
    background-color: rgb(14, 28, 49);
    color: white;
  }

.topnav .icon {
    display: none;
  }

.rb {
    padding: 1%;
    width: 60%;
    font-size: 1rem;
    color: rgb(231, 236, 241);
    font-family: 'Courier New', Courier, monospace;
}

#text,
li {
    font-size: 1.5rem;
    color: rgb(231, 236, 241);
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(223, 230, 236);
    text-shadow: 0 0 10px #8d939c, 0 0 40px #344553, 0 0 80px #50707a;
}

.register-content {
    margin-top: 5rem;
    display: flex;
    color: rgb(155, 190, 223);
}
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #eeeeee, 0 0 20px #faf5f5, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #143964, 0 0 60px #355c88, 0 0 70px #b0a5b6;
    }
    to {
        text-shadow: 0 0 20px #eeeeee, 0 0 30px #859bb4, 0 0 40px #455d91, 0 0 50px #bec4c9, 0 0 60px #1a3547, 0 0 70px #112946, 0 0 80px #667992;
    }
}
@media screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
        padding: 3%;
    }
    #topnav {
        flex-direction: column;
        width: 100%;
    }
    .d{
        width: 0;
    }
    .register-content {
        flex-direction: column;
        margin: auto;
    }
    #text-register {
        margin-left: 1rem;
        font-size: 1.4rem;
    }

    #anim{
        margin-left: 2rem;
    }
    .mainpage{
        width: 500px;
        padding: 4%;
        height: 160vh;

    }
    .dot{
        display: none;
    }
    .topnav a {
        font-size: 1rem;
        }
       
    .rb {
        padding: 1%;
        width: 90%;
        font-size: 1.4rem;
    }
    #text,
li {
    font-size: 1rem;
}
h3 {
    font-size: 1.4rem;
    
}

   
    
}
