#navbar {
    display: flex;
    justify-content: center;
    transition: all 0.3s;
}


/* #navbar ul li:hover {
    transform: scale(1.1);
} */

.register-content {
    margin-top: 5rem;
    display: flex;
    color: rgb(155, 190, 223);
}

@media screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }
    #navbar {
        flex-direction: column;
    }
    .register-content {
        flex-direction: column;
        margin: auto;
    }
    #text-register {
        margin-left: 1rem;
        font-size: 2rem;
    }
}